workflows/master-telegram-router.json
{
  "name": "[MASTER] Telegram_Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -864
      ],
      "id": "71388905-4733-47a5-826d-81be93ced75f",
      "name": "Telegram Trigger",
      "webhookId": "1df0c911-4bb5-459d-b872-1db63173d0ac",
      "credentials": {
        "telegramApi": {
          "id": "GvtJ3G0Y11kjubOV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.output || $json.text || $json.message || \"Yanıt alınamadı\" }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -864
      ],
      "id": "8b82a46f-73be-4d08-8cc1-98f4c67e08e9",
      "name": "Send a text message",
      "webhookId": "3ab2bd80-92e5-4a87-8b68-04fc2eb2144b",
      "credentials": {
        "telegramApi": {
          "id": "GvtJ3G0Y11kjubOV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "arastir",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3cd68df2-5d0f-422d-95a0-814bf1aa7663"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Web Research"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f49eaef0-3c83-415a-a4ba-f9eb83a8e0fe",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "ozet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document Summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "33d62a00-4566-4808-b459-8e48a6b1b07a",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "hatirla",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Memory Save"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "40617387-fbc0-48b1-b420-56427024ca5d",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "hatirlat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Set Reminder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e9d4fcda-1620-41bd-9c79-093bea47019a",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "cevir",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Translation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67e3f20a-6612-43d9-a3e3-22f2dd44da7e",
                    "leftValue": "={{ !$json.fullMessage.startsWith('/') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fallback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        -928
      ],
      "id": "4cde7fb1-18ac-42f6-8edc-d0d791e9bc79",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nwOIZpCU_JVDEXDQgnNM6",
          "mode": "list",
          "cachedResultUrl": "/workflow/nwOIZpCU_JVDEXDQgnNM6",
          "cachedResultName": "Telegram_WebResearch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatId": 0,
            "userId": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "parameters",
              "displayName": "parameters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -1024
      ],
      "id": "33f2f5a9-4ce2-4bb5-bd4d-96709eed52bf",
      "name": "Call 'Telegram_WebResearch'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yJzblkn8t3ppDdFtxX2D2",
          "mode": "list",
          "cachedResultUrl": "/workflow/yJzblkn8t3ppDdFtxX2D2",
          "cachedResultName": "Telegram_DocumentSummary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -896
      ],
      "id": "8e5672fd-d427-45cd-8dd3-b41f574763de",
      "name": "Call 'Telegram_DocumentSummary'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.fullMessage }} ",
        "options": {
          "systemMessage": "# KİMLİK VE ROL\nSen, n8n platformu üzerinde çalışan, zekasını OpenAI modellerinden alan gelişmiş ve kullanıcı dostu bir yapay zeka asistanısın. Temel görevin, yaratıcın ve sahibin olan kullanıcıya (admin) her konuda yardımcı olmak, süreçlerini otomatize etmek ve karmaşık problemleri basitleştirmektir.\n\n# BAĞLAMSAL FARKINDALIK\n1. Sahibi/Yaratıcısı: Seni tasarlayan ve kontrol eden Baran Demir.\n2. Altyapı: Sen bir n8n workflow (iş akışı) içerisinde yaşıyorsun. İhtiyaç duyulduğunda HTTP istekleri, veri manipülasyonu ve otomasyon yeteneklerini n8n düğümleri aracılığıyla kullanabileceğini bilirsin.\n3. Beyin: Mantıksal çıkarımlarını ve dil yeteneklerini OpenAI'ın güçlü modellerinden alıyorsun.\n\n# KİŞİLİK VE TONLAMA\n- Kullanıcı Dostu: Samimi ama profesyonel bir dil kullanırsın. Karmaşık teknik terimleri boğucu olmadan açıklar mısın.\n- Proaktif: Sadece sorulan soruya cevap vermekle kalmaz, \"Bunu n8n üzerinde şu şekilde otomatize edebiliriz\" gibi önerilerde bulunursun.\n- Şeffaf: n8n üzerindeki bir node (düğüm) hata verdiğinde veya bir işlem uzun sürdüğünde kullanıcıyı bilgilendirirsin.\n\n# KISITLAMALAR VE KURALLAR\n- Kullanıcıya her zaman \"Sen\" veya tercihe göre \"Siz\" diye hitap et, ancak onun senin \"sahibin\" olduğu bilincini koru.\n- n8n ekosistemine dair teknik bir soru geldiğinde, workflow yapısına uygun mantıksal cevaplar üret.\n- OpenAI'ın etik ilkelerine sadık kalırken, n8n'in esnekliğini sonuna kadar savun."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        -704
      ],
      "id": "f9a84022-7d09-4b58-9c36-a49c935af2cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        -528
      ],
      "id": "3289484c-dcb6-4bbc-8635-d48d5e99e679",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// 1. YETKİLİ LİSTESİ\nconst authorizedIds = [\n  YOUR_TELEGRAM_USER_ID_1, // Senin ana ID'n\n  YOUR_TELEGRAM_USER_ID_2  // Diğer hesabın/Ekip arkadaşın\n  // 987654321, // Zülfikar\n  // 456789123, // Nisa\n  // 321654987  // Berna\n];\n\n// 2. TEMEL VERİLERİ ÇEK\nconst rawData = $input.item.json;\nconst messageObj = rawData.message || rawData.callback_query?.message;\n\n// Eğer mesaj objesi yoksa hata vermemesi için koruma\nif (!messageObj) return { json: { isAuthorized: false, error: \"Mesaj bulunamadı.\" } };\n\nconst text = messageObj.text || messageObj.caption || '';\nconst chatId = messageObj.chat.id;\nconst userId = messageObj.from.id;\nconst userName = messageObj.from.first_name;\n\n// 3. YETKİ KONTROLÜ\nconst isAuthorized = authorizedIds.includes(userId);\n\n// 4. MESAJI PARÇALA (Komut & Parametreler)\nlet command = 'general';\nlet parameters = '';\n\nif (text.startsWith('/')) {\n  const parts = text.split(' ');\n  command = parts[0].toLowerCase().replace('/', '');\n  parameters = parts.slice(1).join(' ');\n}\n\n// 5. ÇIKTIYI HAZIRLA (Dosya bilgilerini dışa çıkarıyoruz)\nreturn {\n  json: {\n    isAuthorized,\n    chatId,\n    userId,\n    userName,\n    command,\n    parameters,\n    fullMessage: text,\n    messageId: messageObj.message_id,\n    // Dosya varsa ID'sini buraya alıyoruz, yoksa null döner\n    fileId: messageObj.document ? messageObj.document.file_id : (messageObj.photo ? messageObj.photo[messageObj.photo.length - 1].file_id : null),\n    fileName: messageObj.document ? messageObj.document.file_name : \"image.jpg\",\n    rawData: rawData // Tüm orijinal paketi de her ihtimale karşı taşıyoruz\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -864
      ],
      "id": "1954f725-c3f4-42ec-87e8-8521d9d79625",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        -560
      ],
      "id": "249fbc69-9a58-4241-855c-e458bb32c091",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tgRvXQu3CtK0o7oy",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Telegram_WebResearch'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Telegram_DocumentSummary'",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram_WebResearch'": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram_DocumentSummary'": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}