workflows/telegram-web-research.json
{
  "name": "Telegram_WebResearch",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatId",
              "type": "number"
            },
            {
              "name": "parameters"
            },
            {
              "name": "userId",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -384
      ],
      "id": "d49d4733-1d52-4bba-9d17-b23c699cbe86",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "${SERPAPI_KEY}"
            },
            {
              "name": "q",
              "value": "={{ $json.parameters }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "20"
            },
            {
              "name": "hl",
              "value": "tr"
            },
            {
              "name": "gl",
              "value": "tr"
            },
            {
              "name": "google_domain",
              "value": "google.com.tr"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        -384
      ],
      "id": "20b0242d-10ab-4609-b63a-b61e6a4342e7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const searchData = $input.item.json;\nconst inputNode = $('When Executed by Another Workflow');\nconst originalData = inputNode ? inputNode.item.json : $input.first().json;\n\nlet results = [];\nlet searchEngine = 'unknown';\n\n// Veri Sınırı: 5 yerine 15 sonuç alarak derinliği artıralım\nconst resultLimit = 15; \n\n// SerpAPI formatı\nif (searchData?.organic_results) {\n  searchEngine = 'serpapi';\n  results = searchData.organic_results.slice(0, resultLimit).map((item, index) => ({\n    position: index + 1,\n    title: item.title || 'Başlık yok',\n    link: item.link || item.url || '#',\n    snippet: item.snippet || 'Açıklama yok'\n  }));\n}\n// Brave Search formatı\nelse if (searchData?.web?.results) {\n  searchEngine = 'brave';\n  results = searchData.web.results.slice(0, resultLimit).map((item, index) => ({\n    position: index + 1,\n    title: item.title || 'Başlık yok',\n    link: item.url || '#',\n    snippet: item.description || 'Açıklama yok'\n  }));\n}\n// Google Custom Search formatı\nelse if (searchData?.items) {\n  searchEngine = 'google';\n  results = searchData.items.slice(0, resultLimit).map((item, index) => ({\n    position: index + 1,\n    title: item.title || 'Başlık yok',\n    link: item.link || '#',\n    snippet: item.snippet || 'Açıklama yok'\n  }));\n}\n\n// Formatla: AI'nın başlıkları daha iyi görmesini sağla\n// JS Formatlama kısmını böyle güncelle\nconst formattedResults = results.map(r =>\n  `📍 KAYNAK: ${r.title}\\n📝 ÖZET: ${r.snippet}\\n🔗 LİNK: ${r.link}`\n).join('\\n\\n---\\n\\n');\n\nconst jsonResults = JSON.stringify(results, null, 2);\n\nreturn {\n  json: {\n    query: originalData.parameters,\n    results: results,\n    formattedResults: formattedResults,\n    jsonResults: jsonResults,\n    resultCount: results.length,\n    searchEngine: searchEngine,\n    chatId: originalData.chatId,\n    userId: originalData.userId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -384
      ],
      "id": "dd4aeab4-a738-46d5-ac87-55ee726ad6ab",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### GİRDİ ANALİZİ\nSorgu: {{ $json.query }}\nKaynak Sayısı: {{ $json.resultCount }}\n\n### HAM VERİ SETİ\n{{ $json.formattedResults }}\n\n---\n\nYukarıdaki verileri analiz et ve gerekli tüm bilgileri kullanıcıya sun. \n",
        "options": {
          "systemMessage": "",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -384
      ],
      "id": "8045a27d-1ef2-4ce6-a1a3-db713b42c64e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f339dd49-426d-4b8a-b7f2-5ef8910786ec",
              "name": "output",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "42a6116d-15e4-4f95-8175-38ee275eeda7",
              "name": "chatId",
              "value": "={{ $('When Executed by Another Workflow').item.json.chatId }}",
              "type": "string"
            },
            {
              "id": "0601f133-4a57-45c5-b108-ab579038f66c",
              "name": "userId",
              "value": "={{ $('When Executed by Another Workflow').item.json.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -384
      ],
      "id": "59069695-a895-4c6a-9290-b8e66e1379f5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        -192
      ],
      "id": "57e3d744-16be-48ed-8ddc-847cb8ea3efa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oLEXI4lLpzr266VY",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}