workflows/telegram-document-summary.json
{
  "name": "Telegram_DocumentSummary",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const inputData = $input.item.json;\n\n// Master'dan gelen rawData'yı veya doğrudan mesajı yakala\nconst rawData = inputData.rawData || inputData;\nconst message = rawData.message || inputData;\n\n// Dosya kontrolü (Yeni veri yapısına göre)\n// Master JS düğümü dosya bilgisini messageObj içinden alıp rawData'ya koyar\nif (!message.document) {\n  return { \n    json: { \n      output: \"Özetlenecek döküman bulunamadı. Lütfen PDF'i gönderirken açıklama kısmına /ozet yazın.\" \n    } \n  };\n}\n\nreturn {\n  json: {\n    fileId: message.document.file_id,\n    chatId: inputData.chatId || message.chat.id, // Master'dan gelen temiz chatId'yi önceliklendir\n    fileName: message.document.file_name,\n    isAuthorized: inputData.isAuthorized // Güvenlik durumunu ilet\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -272
      ],
      "id": "d160f52d-a651-42a8-98f1-772a3c440f3d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        -272
      ],
      "id": "5081c940-6b5b-4324-9e8d-48212f70c9cf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.fileId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        -80
      ],
      "id": "74f2c481-cb7f-4851-91ff-6c3b46d3ecba",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot${TELEGRAM_BOT_TOKEN}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        -80
      ],
      "id": "0ab3e1a7-3480-49eb-bc76-14f59545b387",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        -80
      ],
      "id": "444c914b-7957-4350-b2b9-84b5848ead66",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aşağıdaki metni analiz et ve Türkçe olarak maddeler halinde özetle:\\n\\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        128
      ],
      "id": "5db579dd-a48a-4178-80c6-34df9723e7c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fee6d82-f17b-44ee-9e07-bc7cd02f96a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        128
      ],
      "id": "aac0b44a-b271-46c8-ad8f-cdcbfb462141",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        320
      ],
      "id": "87f25a7c-c2a2-4356-96b1-d507cdcb5dc5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oLEXI4lLpzr266VY",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}